
.guessButton {
  transition: 0.1s all;
  cursor: pointer;
  z-index: 99;
  background: rgb(0, 255, 187);
  border: 0;
  font-size: 16px;
  padding: 2px 16px;
  height: 48px;
  border-radius: 8px;
  box-shadow: 0px 4px 0px #045276;
}

.guessButton:active {
  transform: translate(0px, 2px); 
  box-shadow: 0px 0px 0px #045276;
}
